


<div class="d-flex justify-content-center my-5">
  <img class="logo" src="https://github.com/AndyUGA/Element/blob/master/public/images/uvsase2.png?raw=true">
</div>

<h1 class="text-center my-5 titleFont">
  Individual Rank
</h1>


<div class="container mb-5">

  <div class="row leaderboardRowColor rowHeight mx-3 mx-sm-0 shadow-lg rounded nameFontSize align-items-center mb-5">
    <div class=" col-sm d-flex justify-content-center">
      Rank
    </div>
    <div class=" col-sm d-flex justify-content-center">
      Name
    </div>
    <div class=" col-sm d-flex justify-content-center">
      School
    </div>
    <div class=" col-sm d-flex justify-content-center">
      Points
    </div>
  </div>
  <% for(let i = 0; i < result.length; i++) { %>

  <!--   
          <% if(i == 0 ) { %> 
            <div class="row leaderboardRowColor3 mx-3 shadow rounded nameFontSize align-items-center">
              <div class="col d-flex justify-content-center text-center">
             Top 10
              </div>
            </div>
            <% } %>
            -->

  <div class="row leaderboardRowColor rowHeight mx-3 mx-sm-0 shadow rounded nameFontSize align-items-center">


    <div class=" col-sm d-flex justify-content-center">
      <%= i + 1%>
    </div>
    <div class=" col-sm d-flex justify-content-center text-center">

      <a class="linkColor underLineName" href="/individual/<%=result[i]._id %>">
        <%= result[i]._id %>
      </a>
    </div>
    <div class=" col-sm d-flex justify-content-center text-center">
      <%= schoolAbbreviations[i]%>
    </div>
    <div class=" col-sm d-flex justify-content-center">
      <%= result[i].points%> Points
    </div>


  </div>
  <div class="progress mx-3 mx-sm-0" style="height: 30px;">
    <div class="progress-bar progress-bar-yellow pointsFontSize" role="progressbar"
      style="width: <%=(result[i].points / result[0].points) * 100  %>%" aria-valuemax="100">

    </div>
  </div>
  <% } %>
</div>